<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="cn.ololee.jnidemo">

  <uses-feature
    android:glEsVersion="0x00030002"
    android:required="true" />

  <application>
    <activity
      android:name=".traingles.vbo.TriWithBufferActivity"
      android:exported="false" />
    <activity android:name=".earth.EarthActivity" />
    <activity android:name=".sphere.SphereActivity" />
    <activity android:name=".traingles.TrainglesActivity" />
    <activity android:name=".mmap.MmapActivity" />
    <activity android:name=".opengl.TextureMapActivity" />
    <activity android:name=".GlutActivity" />
    <activity android:name=".RenderScriptBlurActivity" />
    <activity android:name=".NativeGuassBlurActivity" />
    <activity android:name=".JniDemoActivity" />
    <activity android:name=".OpenGLGaussBlurActivity" />
  </application>

</manifest>